* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*background*/
body {
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}


/*navbar*/
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: Black;
    font-size: 1rem;
}

a:hover {
    color: #33c4f3;
}

/*header*/

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open {
    height: 240px;
}


/*responsive*/
@media(max-width: 992px){
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

main {
    padding: 70px;
}

.img_img {
    width: 400px;
}
.CV {
    color: cornflowerblue;
}

.padding {
    padding-bottom: 40px;
}




.wrapper {
    left: 50%;
    top: 50%;
}
.block {
    width: 100%;
    padding: 30px 30px 50px;
    background-color: #33c4f3;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.block * {
    color: white;
    font-weight: 500;
}
h2 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.bar {
    position: relative;
    border: 2px solid white;
    border-radius: 20px;

}


.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: white;
}


.skills:not(:last-child) {
    margin-bottom: 30px;
}


#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill {
    100% {
        width: 60%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 55%;
    }
}

#javascript-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 30%;
    }
}

#illustrator-bar {
    animation: ill-fill 2s forwards;
}
@keyframes ill-fill {
    100%{
        width: 85%;
    }
}

#photoshop-bar {
    animation: pho-fill 2s forwards;
}
@keyframes pho-fill {
    100%{
        width: 80%;
    }
}

#xd-bar {
    animation: xd-fill 2s forwards;
}
@keyframes xd-fill {
    100%{
        width: 80%;
    }
}


