* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*background*/
body {
    height: 100vh;
    background-color: black;
    background-image: url("https://images.pexels.com/photos/1632847/pexels-photo-1632847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center;
}


/*navbar*/
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: dodgerblue;
}

/*header*/

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open {
    height: 240px;
}


/*responsive*/
@media(max-width: 992px){
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

.card {
    width: 130px;
    height: 195px;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}